<div class="row">
  <div class="col">
    <h1>SwitchCraft Hardware Survey</h1>
    <p class="mb-0">
      <b>GitHub repository:</b>
      <a href="https://github.com/Lemmmy/SCHardwareSurvey">https://github.com/Lemmmy/SCHardwareSurvey</a>
      <br />
      <b>Responses received:</b>
      <span class="badge badge-success">{{count}}</span>
      <br />
      <small class="text-muted">More statistics coming soon.</small>
    </p>
  </div>
</div>

<hr />

<div class="row">
  <!-- OpenGL Versions -->
  <div class="col-12 col-sm-6">
    <h3>OpenGL Versions</h3>
    <p class="text-muted">The maximum OpenGL version supported by each user's graphics driver.</p>
    {{> basicList heading="OpenGL Version" list=openGLVersions }}
  </div>

  <!-- Feature Support -->
  <div class="col-12 col-sm-6">
    <h3>Feature Support</h3>
    <p class="text-muted">Supported features we are interested in.</p>
    {{> basicList heading="Feature" list=features.features }}

    <h4>Individual Features</h4>
    {{> basicList heading="Feature" list=features.individualFeatures }}

    <h4>Max Texture Size</h4>
    {{> basicList heading="Texture Size" list=features.maxTextureSize }}
  </div>
</div>

<hr />

<div class="row">
  <!-- Operating Systems -->
  <div class="col-12 col-sm-6">
    <h3>Operating Systems</h3>
    {{> basicList heading="Operating System" list=osList }}
  </div>

  <!-- OS Architectures -->
  <div class="col-12 col-sm-6">
    <h3>Architectures</h3>
    {{> basicList heading="Architecture" list=osArches }}
  </div>
</div>

<hr />

<div class="row">
  <!-- Mods -->
  <div class="col-12 col-sm-6">
    <h3>Mods and Companion Apps</h3>
    {{> basicList heading="Mod" list=modList }}
  </div>
</div>