<div class="row">
  <div class="col">
    <h1>SwitchCraft Hardware Survey</h1>
    <p>
      <span class="text-muted">Public charts coming soon (after some data collection has been completed).</span>
      <br />
      <b>GitHub repository:</b>
      <a href="https://github.com/Lemmmy/SCHardwareSurvey">https://github.com/Lemmmy/SCHardwareSurvey</a>
    </p>
  </div>
</div>